#content
  .panel.sr-only
    %h3= t('exception.show.not_found.description')
    %p Please return to our home page.  If this error persists, please send us an e-mail at presidentialcollections@virginia.edu
  .panel.panel-default.text-center.col-md-12
    %h1= t('exception.show.not_found.title')
  .panel.panel-default.col-md-12
    %h3.panel-body= t('exception.show.not_found.description')
  
  .panel.panel-default.col-md-12
    %p.panel-body
      Please
      %a{:href => "/"}
        return to our home page.
      If this error persists, please send us an email at
      = mail_to 'presidentialcollections@virginia.edu', name = 'presidentialcollections@virginia.edu', html_options = {subject: "Problem With CPC Site", body: "I encountered an error trying to get to #{request.original_url} at #{l Time.now, format: :short}"}
  .panel.panel-default.apology.col-md-12.hidden-xs

    %p.panel-body.text-center
      = image_tag "dead_end.png", :class => 'portrait'
    %p.panel-body.text-right
      %small
        Dead End by 
        %a{:href => "http://commons.wikimedia.org/wiki/File:The_dead_end.jpg"}
          Vaikoovery