%aside(class="col-md-4" id="home-aside")

	#survey
		%p <strong>Help us make CPC the best it can be... <a href="https://docs.google.com/forms/d/1F5wXMWxI2QesnZvpnQBze5FFKqKhNHctWXkdz5vROu0/viewform?usp=send_form" target="_blank">take the survey!</a></strong>

	#secondary-message
		%dl
			%dt <a href="/about#what-is">What is CPC?</a>
			%dd
				%p Connecting Presidential Collections is a website that collaborates with partners to create a place for users to search across presidential collections. 
			%dt <a href="/about#become-partner">Can my organization submit a collection and become a partner?</a>
			%dd 
				%p Yes! If you work with an organization that has a collection related to the presidency, contact us! <a class="more" href="/about#what-is">Read more →</a>

			%dt <a href="/about">How can I learn more?</a>
			%dd 
				%p We have lots of ways for you to be involved and informed! You can: 
				%ul
					%li Follow us on Twitter <a href="https://twitter.com/pres_collection" target="_blank">@pres_collection</a>,
					%li <a href="http://presidentialcollections.wordpress.com/">Check out our blog</a>, 
					%li <a href="https://docs.google.com/forms/d/1xVMbBZUJd46MWKB0rION7zc8zhaTaKK3gSIhGLy-REw/viewform" target="_blank">Join our email list</a>,
					%li <a href="https://github.com/miller-center">Access our code through GitHub</a>



		

%h3(id="presidents") Browse by President
.featured(class="col-md-8")
	.featured-president(class="col-md-2 col-sm-3 col-xs-4")
		= link_to image_tag("presidents/grant.jpg", :alt => "Ulysses S. Grant", :class => "featured-item img-responsive", :title => "Ulysses S. Grant"), "/?f%5Bpresident_facet%5D%5B%5D=Grant%2C+Ulysses+S.+%28Ulysses+Simpson%29%2C+1822-1885"
	.featured-president(class="col-md-2 col-sm-3 col-xs-4")
		= link_to image_tag("presidents/madison.jpg", :alt => "James Madison", :class => "featured-item img-responsive", :title => "James Madison"), "/?f%5Bpresident_facet%5D%5B%5D=Madison%2C+James%2C+1751-1836"
	.featured-president(class="col-md-2 col-sm-3 col-xs-4")
		= link_to image_tag("presidents/reagan.jpg", :alt => "Ronald Reagan", :class => "featured-item img-responsive", :title => "Ronald Reagan"), "/?f%5Bpresident_facet%5D%5B%5D=Reagan%2C+Ronald%2C+1911-2004"
	.featured-president(class="col-md-2 col-sm-3 col-xs-4")
		= link_to image_tag("presidents/jq_adams.jpg", :alt => "John Quincy Adams", :class => "featured-item img-responsive", :title => "John Quincy Adams"), "/?f%5Bpresident_facet%5D%5B%5D=Adams%2C+John+Quincy%2C+1767-1848"
	.featured-president(class="col-md-2 col-sm-3 col-xs-4")
		= link_to image_tag("presidents/jefferson.jpg", :alt => "Thomas Jefferson", :class => "featured-item img-responsive", :title => "Thomas Jefferson"), "/?f%5Bpresident_facet%5D%5B%5D=Jefferson%2C+Thomas%2C+1743-1826"
	.featured-president(class="col-md-2 col-sm-3 col-xs-4")
		= link_to image_tag("presidents/washington.jpg", :alt => "Woodrow Wilson", :class => "featured-item img-responsive", :title => "George Washington"), "/?f%5Bpresident_facet%5D%5B%5D=Washington%2C+George%2C+1732-1799"
	.featured-president(class="col-md-2 col-sm-3 col-xs-4")
		= link_to image_tag("presidents/adams.jpg", :alt => "John Adams", :class => "featured-item img-responsive", :title => "John Adams"), "/?f%5Bpresident_facet%5D%5B%5D=Adams%2C+John%2C+1735-1826"
	.featured-president(class="col-md-2 col-sm-3 col-xs-4")
		= link_to image_tag("presidents/ghw_bush.jpg", :alt => "George H.W. Bush", :class => "featured-item img-responsive", :title => "George H.W. Bush"), "/?f%5Bpresident_facet%5D%5B%5D=Bush%2C+George%2C+1924-"
	.featured-president(class="col-md-2 col-sm-3 col-xs-4")
		= link_to image_tag("presidents/hayes.jpg", :alt => "Rutherford B. Hayes", :class => "featured-item img-responsive", :title => "Rutherford B. Hayes"), "/?f%5Bpresident_facet%5D%5B%5D=Hayes%2C+Rutherford+B.%2C+1822-1893"
	.featured-president(class="col-md-2 col-sm-3 col-xs-4")
		= link_to image_tag("presidents/kennedy-portrait.jpg", :alt => "John F. Kennedy", :class => "featured-item img-responsive", :title => "John F. Kennedy"), "/?f%5Bpresident_facet%5D%5B%5D=Kennedy%2C+John+F.+%28John+Fitzgerald%29%2C+1917-1963"
	.featured-president(class="col-md-2 col-sm-3 col-xs-4")
		= link_to image_tag("presidents/roosevelt.jpg", :alt => "Theodore Roosevelt", :class => "featured-item img-responsive", :title => "Theodore Roosevelt"), "/?f%5Bpresident_facet%5D%5B%5D=Roosevelt%2C+Theodore%2C+1858-1919"
	.featured-president(class="col-md-2 col-sm-3 col-xs-4")
		= link_to image_tag("presidents/wilson.jpg", :alt => "Woodrow Wilson", :class => "featured-item img-responsive", :title => "Woodrow Wilson"), "/?f%5Bpresident_facet%5D%5B%5D=Wilson%2C+Woodrow%2C+1856-1924"
	%p.featured-note <em>More presidents coming soon!</em>


//%h2 Featured Items
//#featured
//	= link_to image_tag("featured/sixthFloor.jpg", :alt => "Sixth Floor Museum", :class => "featured-item", :alt => ""), "http://presidentialcollections.org/catalog/sfm_3512"
//	= link_to image_tag("featured/roosevelt.jpg", :alt => "Roosevelt Center", :class => "featured-item", :alt => ""), "http://presidentialcollections.org/catalog/trc_o36257"
//	= link_to image_tag("featured/ohp.jpg", :alt => "Miller Center Oral History Program", :class => "featured-item", :alt => ""), "http://presidentialcollections.org/catalog/poh_86"
//	= link_to image_tag("featured/hayes.jpg", :alt => "Hayes", :class => "featured-item", :alt => ""), "http://presidentialcollections.org/catalog/rbh_2000_7_2"



%h3(id="partners") Meet our Partners
.featured(class="col-md-8")
	.featured-partner(class="col-md-2 col-sm-3 col-xs-4")
		= link_to image_tag("logo-wilsonCtr.gif", :alt => "Wilson Center", :class => "featured-item img-responsive", :width => "120", :alt => ""), "/partners.html#wwp"
	.featured-partner(class="col-md-2 col-sm-3 col-xs-4")
		= link_to image_tag("logo-sixthFloor.gif", :alt => "Sixth Floor Museum", :class => "featured-item img-responsive", :width => "120", :alt => ""), "/partners.html#sfm"
	.featured-partner(class="col-md-2 col-sm-3 col-xs-4")
		= link_to image_tag("logo-rooseveltCtr.jpg", :alt => "Roosevelt Center", :class => "featured-item img-responsive", :width => "120", :alt => ""), "/partners.html#trc"
	.featured-partner(class="col-md-2 col-sm-3 col-xs-4")
		= link_to image_tag("logo-massHist.gif", :alt => "Massachusetts Historical Society Adams Collection", :class => "featured-item img-responsive", :width => "120", :alt => ""), "/partners.html#mhs"
	.featured-partner(class="col-md-2 col-sm-3 col-xs-4")
		= link_to image_tag("logo-hayes.gif", :alt => "Hayes Center", :class => "featured-item img-responsive", :width => "120", :alt => ""), "/partners.html#hpc"
	.featured-partner(class="col-md-2 col-sm-3 col-xs-4")
		= link_to image_tag("logo-millerCtr.png", :alt => "Miller Center", :class => "featured-item img-responsive", :width => "120", :alt => ""), "/partners.html#ohp"
	%p <a class="more featured-note" href="/partners">more about our partners →</a></p>


//%h3
//	= link_to("Terms of Use", "/about#terms")
//%p
//	The partner organizations determine the rights for digital objects on this site. Please go to the partners’ websites for more information.
//	%span{:class => "more"}
//		= link_to("Read more", "about#terms")

//%h3
//	= link_to("Citation Styles", "/about#citationstyles")
//%p
//	We provide a selection of citation styles for use when referencing items from the collection.
//	%span(class="more")
//		=link_to("Read more", "about#citationstyles")

//%h3
//	= link_to("API", "/about#api")
//%p
//	Information in this database is free and open source. Use our API to refer to the data on your own site. (To come.)
	
%h3(id="partners") Funded by the IMLS
.featured#funding(class="col-md-8")
	= link_to image_tag("imls-logo.png", :alt => "Institute of Museum and Library Services", :id => "imls-logo", :width => "165", :height => "75", :class => "partner-logo"), "http://www.imls.gov/"
	%p The UVA Miller Center thanks IMLS for its generous support of Connecting Presidential Collections. The mission of IMLS is to inspire libraries and museums to advance innovation, lifelong learning, and cultural and civic engagement. The IMLS provides leadership through research, policy development, and grant making. 
	%p <a class="more featured-note" href="http://imls.gov" target="_blank">more about the imls →</a>
