<div class="navbar-right topbarlogo">
  <% if has_user_authentication_provider? %>
    <ul class="nav navbar-nav">
<!--           <% if render_bookmarks_control? %>
    <li>
      <%= link_to t('blacklight.header_links.bookmarks'), bookmarks_path %>
    </li>
    <% end %> -->
    <% if has_user_authentication_provider? and current_user %>
      <li>
      <%= link_to t('blacklight.header_links.saved_searches'), saved_searches_path %>
      </li>
    <% end %>
    <li>
    <%= link_to t('blacklight.header_links.search_history'), search_history_path %>
    </li>
      <% if current_user %>
      <li>
        <%= link_to t('blacklight.header_links.logout'), destroy_user_session_path %>
      </li>
      <% unless current_user.to_s.blank? -%>
      <li>
        <%= link_to current_user, edit_user_registration_path %>
      </li>
      <% end %>
      <% else %>
      <li>
        <%= link_to t('blacklight.header_links.login'), new_user_session_path %>
      </li>
      <% end %>
      </ul>
  <% end %>
</div>
<div class="navbar-right topbarlogo">
  <ul class="nav navbar-nav">
    <li>
      <a href="http://presidentialcollections.wordpress.com">Blog</a>
    </li>
    <li>
      <a href="/about">About CPC</a>
    </li>
    <li>
      <a href="/partners">Partners</a>
    </li>
  </ul>
</div>
