<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <!-- Mobile viewport optimization h5bp.com/ad -->
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- Twitter validations -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@pres_collection" />
    <meta name="twitter:title" content="Connecting Presidential Collections" />
    <meta name="twitter:description" content="CPC is a grant-funded project that collaborates with partners so users can easily search across presidential collections." />
    <meta name="twitter:image" content="http://presidentialcollections.org/assets/2016-0908-squareLogo.png" />

    <!-- Chartbeat timestamp -->
    <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
    <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
    <!--[if IEMobile]>
      <meta http-equiv="cleartype" content="on">
    <![endif]-->
    <% @page_title = "Connecting Presidential Collections" %>
    <title><%= render_page_title %></title>
    <%= opensearch_description_tag application_name, opensearch_catalog_path(:format => 'xml', :only_path => false) %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= content_for(:head) %> 

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>
  <body class="<%= render_body_class %>" id="<%= params[:controller].parameterize%>">
    <div class="wrapper">
      <%= render :partial => 'shared/header_navbar' %>

      <%= render partial: 'shared/ajax_modal' %>

      <div id="main-container" class="container">
        <%= render :partial=>'/flash_msg', layout: 'shared/flash_messages' %>

        <div class="row">
          <%= yield %>
        </div>
      </div>
      <div class="push"></div><!-- shim for footer -->
    </div>

    <footer>
      <%= render :partial => 'shared/footer' %>
      <%= render :partial => 'shared/analytic' %>
    </footer>
    <script type="text/javascript">
      var _sf_async_config = { uid: 15666, domain: 'presidentialcollections.org', useCanonical: true };
      (function() {
        function loadChartbeat() {
          window._sf_endpt = (new Date()).getTime();
          var e = document.createElement('script');
          e.setAttribute('language', 'javascript');
          e.setAttribute('type', 'text/javascript');
          e.setAttribute('src','//static.chartbeat.com/js/chartbeat.js');
          document.body.appendChild(e);
        };
        var oldonload = window.onload;
        window.onload = (typeof window.onload != 'function') ?
          loadChartbeat : function() { oldonload(); loadChartbeat(); };
      })();
    </script>
  </body>
</html>
